@model almacen.Models.AlmacenModel
@{
    ViewBag.Title = "Registrar Almacen";
}
@if (Session["Username"] != null && Session["bloquear"] != null && Session["codigoalmacen"] != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <header class="page-header"><center><h3>Registro de almacen</h3></center></header>
        <div class="container">

            <div class="col-md-12 formulario">

                <form class="form-horizontal">
                    <legend>Datos de almacen</legend>
                    <div class="col-md-6">
                        <label>Codigo de almacen</label>
                        @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @maxlength = "2", @placeholder = "Ingrese codigo almacen", @required = "required" })
                        @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label>Direccion</label>
                        @Html.TextBoxFor(model => model.direccion, new { @class = "form-control", @placeholder = "Ingrese direccion de almacen", @required = "required" })
                        @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label>Descripcion</label>
                        @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", @placeholder = "Ingrese alguna descripcion", @type = "textarea", @rows = "4", @cols = "20" })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group"></div>

                    <div class="col-md-12">
                        <div class="pull-right">
                            <input type="submit" value="Registrar" class="btn btn-success" />
                            <input type="reset" value="Nuevo" class="btn btn-success" />
                            <a href="/Home/Index" class="btn btn-success">Cancelar</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    }
}
else
{
    <script type="text/javascript">
        window.open("../Home/Login", "_self");
    </script>
}


