@model almacen.Models.SemanaProducc

@{
    ViewBag.Title = "TablasSemProduccIns";
    Layout = "~/Views/Shared/_principal.cshtml";
}
<header class="page-header">
    <h3><center>Tabla de la Produccion en la Semana</center></h3>
</header>
<div class="container">
    @using (Html.BeginForm("TablasSemProduccIns", "Produccion", FormMethod.Post))
    {
        <div class="col-md-12 formulario">
            <fieldset class="has-success">
                <form>
                    <legend>Datos de Produccuion semana</legend>
                    <div class="form-horizontal">

                        <div class="col-md-6">
                            <label>Productor</label>
                            @if (Model.estado != 2)
                            {
                                @Html.DropDownListFor(model => model.ruc, Model.listadropclientes, "Seleccione Productor", new { @class = "form-control", @required = "required" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.ruc, Model.listadropclientes, "Seleccione Productor", new { @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(model => model.ruc)
                            }
                        </div>
                        <div class="col-md-3">
                            <label>Semana Produccion</label>
                            @Html.TextBoxFor(model => model.semana, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.semana)
                        </div>
                        <div class="col-md-3">
                            <label>Año</label>
                            @Html.TextBoxFor(model => model.anio, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.anio)
                        </div>
                        <div class="col-md-12">
                            @Html.Raw(Model.msjSemProducc)
                        </div>
                        <div class="col-md-12"><div class="form-group"></div></div>
                       
                        <div class="col-md-12">
                            <div class="pull-right">
                                @if (Model.estado == 1)
                                {
                                    <button type="submit" name="sbTablaSemProd" value="Aceptar" class="btn btn-success"><li class="fa fa-search"></li>Consultar</button>
                                }
                                else
                                {
                                    <button type="submit" name="sbTablaSemProd" value="Nuevo" class="btn btn-success"><li class="fa fa-search"></li>Nueva consulta</button>
                                    
                                }
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group col-md-12"></div>
                @if (Model.listSemProdInsumo.Any())
                {
               <div>
 
                 <table class="table table-bordered table-condensed">
                            <legend class="">
                                Detalle Producción de Productor <span class="bg-danger">@Model.ruc</span><a href="~/Produccion/reportemermas/@Model.ruc.Trim()" class="btn btn-info fa fa-external-link fa-1x pull-right">Reporte Mermas</a>
                            </legend>
                            <thead>
                                <tr class="btn-success">
                                    <td><strong>CODIGO</strong></td>
                                    <td><strong>NOMBRE INSUMO</strong></td>
                                    <td><strong>CONSUMO</strong></td>
                                    <td><strong>CONSUMO REAL</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.HiddenFor(model => model.listSemProdInsumo)
                                @foreach (var item in Model.listSemProdInsumo)
                                {
                                    <tr>
                                        <td class="text-lowercase">@Html.DisplayFor(modelItem => item[0])</td>
                                        <td class="text-lowercase">@Html.DisplayFor(modelItem => item[1])</td>
                                        <td class="text-lowercase text-right">@Html.DisplayFor(modelItem => item[2])</td>
                                        <td class="text-lowercase text-right">
                                            @Html.DisplayFor(modelItem => item[3]) &nbsp;
                                            <a onclick="asignarValor(this.id); habilitarCamposModal();" class="btn btn-warning btn-sm pull-right" data-toggle="modal" data-target="#myModal" id="@item[0]-@item[3]">
                                                <span class="text-primary"><i class="fa fa-pencil" aria-hidden="true"></i>Editar</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button type="submit" name="sbTablaSemProd" value="Cerrar" class="btn btn-danger"><li class="fa fa-close"></li>Cerrar Produccion</button>                            
                        </div>
                    </div>
                    <!--CLOSE PRODUCCION-->
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header btn-success">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><center>Editar Costo</center></h4>
                                </div>
                                <div class="modal-body">
                                    <div id="contenido" class="hideable">
                                        <div class="col-md-12 formulario">
                                            <fieldset class="has-success">
                                                <div class="col-md-12" id="formcostosadicionales">
                                                    <legend>Cantidad de Insumo Real a Editar</legend>
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Codinsumo</label>
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            @Html.TextBoxFor(s => s.codinsumoeditar, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                        <div class="col-md-2 ">
                                                            <label>cantidad</label>
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            @Html.TextBoxFor(s => s.cantinsumorealeditar, new { @class = "form-control", @placeholder = "Ingrese cantidad", @type = "number", @step = "0.0000001", @min = "0" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-md-push">
                                                        <div class="pull-right">
                                                            <button type="submit" name="sbTablaSemProd" value="Grabar" class="btn btn-success">Grabar</button>
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deshabilitarCamposModal()">Close</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><div class="form-group"></div></div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>  <!--close Modal -->
                    <script type="text/javascript">
                        function asignarValor(val) {
                            var arr = val.split("-");
                            document.getElementById("codinsumoeditar").value = arr[0];
                            document.getElementById("cantinsumorealeditar").value = arr[1];
                        }
                        function habilitarCamposModal() {
                            document.getElementById("codinsumoeditar").setAttribute("required", "required");
                            document.getElementById("cantinsumorealeditar").setAttribute("required", "required");
                        }

                        function deshabilitarCamposModal() {
                            document.getElementById("codinsumoeditar").removeAttr("required");
                            document.getElementById("cantinsumorealeditar").removeAttr("required");
                        }
                    </script>

                }
            </fieldset>
        </div>
    }
</div>
