@model almacen.Models.detalleGuiaModel

@{
    ViewBag.Title = "EditDetalleGuia";
    Layout = "~/Views/Shared/_principal.cshtml";
}
@if (Model != null && Session["Username"] != null && Session["bloquear"] != null && Session["codigoalmacen"] != null)
{
    <header class="page-header">
        <center><h3>EDITAR DETALLE DE GUÍA</h3></center>
    </header>
    <div class="container formulario">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Editar Datos de Insumos de la Guía</legend>
                @Html.HiddenFor(model => model.numGuia)@Html.HiddenFor(model => model.codInsumo)

                <div class="form-group col-md-12">
                    <label class="control-label col-sm-4">Insumo</label>
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.nomInsumo, new { @class = "form-control", @disabled = "true" })
                        @Html.HiddenFor(model => model.nomInsumo)
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label col-sm-4">Número Guía</label>
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.numGuia, new { @class = "form-control", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.numGuia)
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label col-sm-4">Cantidad</label>
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.cant, new { @class = "form-control", @placeholder = "cantidad", @type = "number", @step = "0.01", @min = "0" })
                        @Html.ValidationMessageFor(model => model.cant)
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="pull-right">
                        <button id="btnEditarDetGuia" type="submit" value="Save" class="btn btn-success" onclick="this.form.submit(); this.disabled=true;">Guardar</button>
                        &nbsp;@Html.ActionLink("Volver", "Detalle", new { id = Model.numGuia.Trim() }, new { @class = "btn btn-success" })
                    </div>
                </div>
                @Html.ValidationMessage("msgEditDetGuia", "", new { @class = "text-info" })
            </fieldset>
        }
    </div>
    <script type="text/javascript">
        @Html.Raw(Model.comandojavascript)
    </script>
}
else
{
    <script type="text/javascript">
        window.open("../Home/Login", "_self");
    </script>
}

