@model almacen.Models.SemanaModel
@{
    ViewBag.Title = "Activar Semana";
}
@if (Model != null && Session["Username"] != null && Session["bloquear"] != null && Session["codigoalmacen"] != null)
{
    using (Html.BeginForm("activarsemana", "Semanas", FormMethod.Post))
    {
        <header class="page-header"><center><h3>Activar Semana</h3></center></header>
        <div class="container">

            <div class="col-md-12 formulario">
                <fieldset>
                    <form class="form-horizontal">
                        <legend>Semana Activa</legend>
                        <div class="col-md-6">
                            <label>Codigo Semana</label>
                            @Html.TextBoxFor(s => s.codsemana, new { @class = "form-control", @disabled = "disabled" })@Html.HiddenFor(model => model.codsemana)
                        </div>
                        <div class="col-md-6">
                            <label>Año</label>
                            @Html.TextBoxFor(s => s.anio, new { @class = "form-control", @disabled = "disabled" })@Html.HiddenFor(model => model.anio)
                        </div>
                        <div class="col-md-6">
                            <label>Fecha Inicio</label>
                            @Html.TextBoxFor(s => s.fechaI, new { @class = "form-control", @disabled = "disabled" })@Html.HiddenFor(model => model.fechaI)
                        </div>
                        <div class="col-md-6">
                            <label>Fecha de Cierre</label>
                            @Html.TextBoxFor(s => s.fechaF, new { @class = "form-control", @disabled = "disabled" })@Html.HiddenFor(model => model.fechaF)
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="pull-right">
                                <button id="btnsubmit" type="submit" name="SemanaActivar" value="actSemana" class="btn btn-success">Activar Semana</button>
                                <a href="~/Home/Index" class="btn btn-success">Ir a Ventana principal</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @Html.Raw(Model.msjrespuesta)
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <script type="text/javascript">
            @Html.Raw(Model.jvscrpt)
            function clicEnRegistrar() {
                document.forms[0].submit();
                document.getElementById('btnsubmit').disabled = true;
            }
        </script>
    }

}
else
{
    <script type="text/javascript">
        window.open("../Home/Login", "_self");
    </script>
}
